body {
	background-image: url("../assets/background.jpg");
}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: "Arial";
	color: black;
}

div#mainPanel {
	background-color: orange;
	margin: 75px;
	padding: 10px;
}

h1#name {
	text-align: right;
	float: right;
	background-color: white;
	margin: 10px;
	padding: 10px;
}

h1.genericWhite {
	background-color: white;
	margin: 10px;
	padding: 10px;
}

div.genericOrange {
	background-color: orange;
	margin: 10px;
	padding: 10px;
}

div.genericWhite {
	background-color: white;
	margin: 10px;
	padding: 10px;
}

img.genericWhite {
	background-color: white;
	margin: 10px;
	padding: 10px;
}

ul.genericWhite {
	background-color: white;
	margin: 10px;
	padding: 10px;
	margin-left: 30px;
}
