body {
	background-image: url("../assets/background.jpg");
	background-color: aqua;
}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: "Arial";
	color: black;
	margin: 10px;
}

#wrapper {
	background-color: orange;
	margin: 8%;
	padding: 10px;
}

#name {
	text-align: right;
	float: right;
	background-color: white;
	margin: 10px;
	padding: 10px;
}

.genericOrange {
	background-color: orange;
	margin: 10px;
	padding: 10px;
}

.genericWhite {
	background-color: white;
	margin: 10px;
	padding: 10px;
}

ul.genericWhite {
	background-color: white;
	margin: 10px;
	padding: 10px;
	margin-left: 30px;
}

.rainbowBit {
	margin: 10px;
}

#rRed {
	border-radius: 100%;
	width: 128;
	height: 128;
}
